
table, th, td {
  border: 1px solid;
}

body {
    font-family: Calibri;
    font-size: 17pt
}
h1,p { 
    margin: 0pt 0pt 8pt
}
        
h1 {
   margin-top: 12pt;
    margin-bottom: 3pt;
    page-break-after: avoid;
    font-family: Arial;
    font-size: 16pt;
    font-weight: bold
}
        
.Quote {
    margin-bottom: 8pt;
    border-left: 2.25pt solid #9f9f9f;
    font-size: 11pt;
    font-style: italic;
    color: #000000
}
        
span.Hyperlink {
                    text-decoration: underline;
                    color: #0000ff;
                    -aw-style-name: hyperlink
                }
        
span.QuoteChar {
                    font-size: 12pt;
                    font-style: italic;
                    color: #000000
                }